header{
    background-color: rgb(186, 247, 20);
    width: 100%;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.listcontain{
    display: flex;
    list-style-type: none;
    text-align: center;
}
.header{
    font-size: 45px;
    font-weight: bold;
    text-shadow: 4px 8px rgb(163, 163, 163);
}
.list a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    color: black;
    margin-left: 20px;
    font-weight: 900;
}
.list a:hover{
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}
.list a:active{
    color: rgb(235, 65, 65);
    font-style: italic;
}
.btn1{
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.btn1:hover{
    color: white;
    background-color: black;
}
.btn2{
    border: 2px solid black;
    padding: 5px 5px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    background-color: black;
    width: 100px;
    height: 35px;
    margin-left: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
}
.btn2:hover{
    color: black;
    background-color: white;
}