header{
    background-color: rgb(32, 241, 231);
    width: 100%;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.listcontain{
    display: flex;
    list-style-type: none;
    text-align: center;
}
.header{
    font-size: 45px;
    font-weight: bold;
    text-shadow: 4px 8px rgb(163, 163, 163);
}
.list a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    color: black;
    margin-left: 20px;
    font-weight: 900;
}
.list a:hover{
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}
.list a:active{
    color: rgb(235, 65, 65);
    font-style: italic;
}
.btn1{
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.btn1:hover{
    color: white;
    background-color: black;
}
.btn2{
    border: 2px solid black;
    padding: 5px 5px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    background-color: black;
    width: 100px;
    height: 35px;
    margin-left: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
}
.btn2:hover{
    color: black;
    background-color: white;
}
.tablecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
}
img{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.foodname{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}
table th, table td{
    border: 2px solid black;
    padding: 12px;
    text-align: center;
    font-size: 16px;;
}
table th{
    background-color: rgba(31, 146, 140, 0.445);
    font-weight: bold;
}
table th:hover{
    background-color: rgb(32, 241, 231);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
table td:hover{
    background-color: rgb(30, 245, 234);
    cursor: pointer;
    transition: background-color 0.3s ease
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.footercontent{
    width: 20%;
    height: 350px;
    background-color: rgb(209, 204, 204);
    border-radius: 15px;
}
.footerimg1{
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 15px;
}
.footerimg{
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.footerhead{
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}
p{
    text-indent: 20px;
    font-size: 18px;
}
footer{
    background-color: rgb(214, 201, 18);
    width: 100%;
    height: 180px;
    border-radius: 10px;
    display: block;
    position: relative;
}
.footertext{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
}
.left{
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    gap: 10px;
    margin-right: 15px;
    flex-direction: row-reverse;
}
.footerimg:hover{
    width: 45px;
    height: 45px;
}
.footerul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}
.footerli a{
    text-decoration: none;
    color: rgb(15, 14, 14);
    border: 2px solid black;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
}
.footerli a:hover{
    background-color: black;
    color: white;
}
.footerli a:active{
    color: red;
    font-style: italic;
}