body{
    margin: 0;
    padding: 0;
    background-color: #b8eff3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 7px 7px 12px grey;
    background-image: url(photo/paris-france-gallery-2\ -\ Copy.jpg);
    opacity: 0.8;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 4px 4px grey;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
input{
    width: 200px;
    height: 40px;
    border: 3px solid;
    border-radius: 10px;
    background-color: rgb(190, 188, 184);
}
input:hover{
    box-shadow: 3px 3px 5px grey;
    background-color: white;
}
label{
    font-size: 20px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
button{
    background-color: #87d4da;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgb(27, 27, 27);

}
a{
    text-decoration: none;
    color: black;
}
button:hover {
    box-shadow: 3px 3px 5px grey;
    background-color: white;
}
button:active {
    transform: scale(0.9);
}