header{
    background-color: rgb(186, 247, 20);
    width: 100%;
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.listcontain{
    display: flex;
    list-style-type: none;
    text-align: center;
}
.header{
    font-size: 45px;
    font-weight: bold;
    text-shadow: 4px 8px rgb(163, 163, 163);
}
.list a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    color: black;
    margin-left: 20px;
    font-weight: 900;
}
.list a:hover{
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}
.list a:active{
    color: rgb(235, 65, 65);
    font-style: italic;
}
.btn1{
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    float: inline-end;
}
.btn1:hover{
    color: white;
    background-color: black;
}
.btn2{
    border: 2px solid black;
    padding: 5px 5px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    background-color: black;
    width: 100px;
    height: 35px;
    margin-left: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    float: inline-end;
    text-align: center;
}
.btn2:hover{
    color: black;
    background-color: white;
}
.header1{
    position: relative;
    overflow: hidden;
    height: 1000px;
}
.img3{
    width: 100%;
    height: 1000px;
    border-radius: 15px;
    margin-top: 20px;
    z-index: -1;
}
.page1{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 8px rgb(0,0,0);
}
.header2{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius: 15px;
    object-fit: cover;;
}
.gallery{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.footertext1{
    text-align: center;
}
.galleryimg{
    border-radius: 15px;
}
.gallerytext{
    font-size: 30px;
    color: black;
    margin-left: 10px;
    margin-top: 18px;
    font-weight: bold;
    text-shadow: 2px 2px rgb(163, 163, 163);
    text-align: center;
}
.about1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    text-align: center;
}
.about2{
    font-weight: bold;
    margin-left: 30px;
    text-align: center;
}
.aboutpage{
    text-align: center;
    text-indent: 20px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%
}
.footercontent{
    width: 20%;
    height: 350px;
    background-color: rgb(209, 204, 204);
    border-radius: 15px;
}
.footerimg1{
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 15px;
}
.footerimg{
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.footerhead{
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}
.footerbutton{
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    animation: button 2s infinite;
}
p{
    text-indent: 20px;
    font-size: 18px;
}
.footerbutton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(17, 16, 16);
    width: 100px;
}
@keyframes button {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
footer{
    background-color: rgb(212, 179, 28);
    width: 100%;
    height: 180px;
    border-radius: 10px;
    display: block;
    position: relative;
}
.footertext{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
}
.left{
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    gap: 10px;
    margin-right: 15px;
    flex-direction: row-reverse;
}
.footerimg:hover{
    width: 45px;
    height: 45px;
}