body{
    font-family: cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("photo/Swiss-alps-1440x900.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: #87d4da;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(27, 27, 27);
    width: 550px;
    height: 900px;
}
h1{
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}
form {
    display:  flex;
    flex-direction: column;
}
label {
    margin: 0px 0px 10px 0px;
    font-weight: 600;
    font-size: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"]{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
input:hover {
    border: 2px solid #87d4da;
    box-shadow: 0px 4px 8px rgb(27, 27, 27);
    transform: scale(1.1);
}
button{
    background-color: #87d4da;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgb(27, 27, 27);

}
a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}
button:hover {
    background-color: #0a949e;
    color: white;
    font-weight: bold;
}
button:active {
    transform: scale(0.9);
}